@use './styles/reset';
@use './styles/typography';
@use './styles/colors';
@use './styles/header';
@use './styles/search';
@use './styles/weather--card';
@use './styles/footer';

body { 
    background-color: colors.$color-quaternary;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;

}