@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../../public/default_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
}
