@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../../public/default_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: brightness(50%); 
	z-index: -1; 
    backdrop-filter: blur(100px);
}
