@use './colors' as *;


.footer { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    color: $color-primary;
    width: 100%;
    min-height: 3em;

    &--links {
        padding: 0 1rem;
    }
}