@use "./colors" as *;
.search {
	display: flex;
	justify-content: center;

	&--form {
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
        gap: 1rem;
	}

    &--form_input {
        padding: 1rem;
        border-radius: 2rem;
        border: none;
        background-color: rgba(241, 241, 241, 0.75);
        color: $color-quaternary;
        width: 100%;
    }

    &--form_buttons {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
    }

    &--form_button {
        color: $color-primary;
        background-color: rgba(51, 51, 51, 0.5);
        padding: 1rem 0.5rem;
        cursor: pointer;
        width: 50%;
        border-radius: 2rem;
        border: none;

        &:hover {
            background-color: rgba(51, 51, 51, 0.75);
        }
    }
}
