@use './colors' as *;

.clock { 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-weight: lighter;
    color: $color-primary;
}
.clock--time {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.clock--date {
    width: 100%;
    text-align: center;
    margin: 0; 
    padding: 0;
}